<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenzhen.mapper.SsqMapper">

    <select id="queryNum"  parameterType="int" resultType="com.chenzhen.pojo.Number">
        select num,numId from shuangseqiu_m order by numid limit #{start},#{end}
    </select>

    <insert id="addNum" parameterType="String">
        insert into ssq values (#{num}, 1)
    </insert>

    <update id="updateNum" parameterType="String">
        update `ssq` set `total`=`total`+1 where `num` =#{num}
    </update>
</mapper>
