<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenzhen.mapper.sit2cbsMapper.Sit2cbsMapper">
	<resultMap id="CprUserResultMap" type="com.chenzhen.pojo.CprUser">
		<id column="CUI_USERNO" property="userno" jdbcType="VARCHAR"/>
		<result column="CUI_ECIFNO" property="ecino" jdbcType="VARCHAR"/>
		<result column="CUI_USERID" property="userId" jdbcType="VARCHAR"/>
		<result column="CUI_USERNAME" property="username" jdbcType="VARCHAR"/>
		<result column="CUI_CETNO" property="cetno" jdbcType="VARCHAR"/>
		<result column="CUI_MOBILEPHONE" property="mobilePhone" jdbcType="VARCHAR"/>
	</resultMap>

	<select id="queryCprUser" parameterType="String" resultMap="CprUserResultMap">
		SELECT CUI_USERNO,CUI_ECIFNO,CUI_USERID,CUI_USERNAME,CUI_CETNO,CUI_MOBILEPHONE FROM CPR_USER_INF WHERE CUI_USERID =#{userId}
	</select>
	
	<select id="queryTest" parameterType="String" resultType="String">
		SELECT CUI_USERNO FROM CPR_USER_INF WHERE CUI_USERID =#{userId}
	</select>
	
	<insert id="insertTest" parameterType="com.chenzhen.pojo.CprUser">
		INSERT INTO CPR_USER_INF (CUI_USERNO, CUI_ECIFNO, CUI_USERID, CUI_USERNAME, CUI_OPENDATE) VALUES (#{userno}, #{ecino}, #{userId}, #{username},TO_CHAR(SYSDATE,'yyyymmdd'))
	</insert>
	
	<update id="udOper" parameterType="String">
		update CPR_RULE set CRR_RULEDEF = #{udStatue} WHERE CRR_RULETYPE='TrsDef' AND CRR_RULEID='UkeyOpenFlag' AND CRR_USERTYPE='1'
	</update>
	
	<select id="queryUdInfo" resultType="String">
		select count(*) from CPR_RULE where  CRR_RULEDEF = '1' AND CRR_RULETYPE='TrsDef' AND CRR_RULEID='UkeyOpenFlag' AND CRR_USERTYPE='1'
	</select>
	
	<update id="updateToken" parameterType="String">
		update CPR_TOKEN_INFO set CTI_CUSTOMERID = #{0}, CTI_CREATETIME = #{1} , CTI_TOKEN_STATUS = '0',CTI_USECOUNT='0' where CTI_TOKEN = #{2} 
	</update>
</mapper>