<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenzhen.mapper.sit2atsMapper.Sit2atsMapper">
	<resultMap id="MsgBeanMap" type="com.chenzhen.pojo.MsgBean">
		<result column="ASM_CODE" property="ASM_CODE" jdbcType="VARCHAR"/>
		<result column="ASM_CREATETIME" property="ASM_CREATETIME" jdbcType="VARCHAR"/>
	</resultMap>
	<select id="queryUKData" parameterType="com.chenzhen.pojo.CprUser" resultType="String">
		SELECT CUC_CERTDN FROM ATS_CPR_USER_CERT WHERE CUC_ECIFNO =#{ecino} AND CUC_USERNO =#{userno} AND CUC_CERTSTATE = '0'
	</select>
	
	<update id="updateUK" parameterType="com.chenzhen.pojo.CprUser">
		UPDATE ATS_CPR_USER_CERT SET CUC_CERTDN =#{certdn},CUC_USBKEYSN =#{usbkey} WHERE CUC_ECIFNO =#{ecino} AND CUC_USERNO =#{userno} AND CUC_CERTSTATE = '0'
	</update>
	
	<select id="queryMsgCode" parameterType="String" resultMap="MsgBeanMap">
		 SELECT t.ASM_CODE,t.ASM_CREATETIME from (SELECT * FROM ATS_SENDDYNAMIC_MSG WHERE ASM_MOBILENO =#{mobilePhone} ORDER BY ASM_FLOWNO DESC) t  WHERE ROWNUM = 1
	</select>
	
	<update id="UpdateQrcodeTimeAndStatue" parameterType="String">
		update ATS_CPR_QRCODE_LOGINDATA set CQD_TRANSTIME = #{dateString},CQD_STATUS = '3' where CQD_UUID = '2539d473-963e-4f7c-a409-ca3c89f4ab94'
	</update>
	
</mapper>